/S1
/S2
/S3
/S1/MarkList.pdf
/S1/Semester\ Grade\ Card.pdf
/S2/Semester\ Grade\ Card.pdf
/S3/01.\ LCA/Advanced\ Engineering\ Mathematics,\ 9E\ -\ Erwin\ Kreyszig.pdf
Advanced\ Engineering\ Mathematics,\ 9E\ -\ Erwin\ Kreyszig.pdf
Higher\ Engineering\ Mathematics,\ 42E\ -\ B.S.\ Grewal.pdf
/S3/01.\ LCA/Higher\ Engineering\ Mathematics,\ 42E\ -\ B.S.\ Grewal.pdf
/S3/03.\ STLD/Fundamentals\ of\ Digital\ Circuits\ -\ A\ Anand\ Kumar.pdf